body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    min-height: 100vh; /* Asegurar que ocupe toda la altura de la ventana */
  }
  
  h1 {
    text-align: center;
    margin: 20px 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  
  .user {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
  }
  
  .user h2 {
    margin: 0;
    font-size: 20px;
    color: #333;
  }
  
  .user p {
    margin: 5px 0;
    color: #777;
  }
  
  .button-container {
    text-align: right;
    margin-top: 10px;
  }
  
  .button-container button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-container button:hover {
    background-color: #45a049;
  }
  
  .todos-container {
    margin-top: 20px;
  }
  
  h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
    padding: 5px;
    background-color: #f5f5f5;
    border-radius: 3px;
  }