@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 20px;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: rgb(255, 247, 238);
}

.game-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(250, 3, 3);
    background-color: rgb(104, 69, 244);
    border-style: solid;
    border-color: black;
    box-shadow: 20px 15px 15px black;
    font-size: 1.5em;
    border-width: 15px;
}


.write-time {
    color: blue;
    text-align: center;
    font-size: 2.5em; /* Aumentar el tamaño del texto */
}

.juego {
    display: flex;
    flex-flow: row nowrap;
}

.score-time {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    flex: 50%;  
    align-items: center;  
    border-color: rgb(100, 18, 240);
    border-style: solid;
    border-width: 18px;
    box-shadow: 20px 15px 15px black;
    background-color: rgb(253, 232, 206);
}

.score-time p {
    font-size: 4em; /* Aumentar el tamaño del texto */
}

.score-time button {
    width: 450px;
    font-size: 5em; /* Aumentar el tamaño del texto */
    color: rgb(250, 3, 3);
    background-color: rgb(251, 243, 102);
    box-shadow: 10px 5px 5px black;
    border-width: 15px;
    border-color: rgb(100, 18, 240);
}

.form {
    border-style: solid;
    border-color: rgb(100, 18, 240);
    border-width: 20px;
    padding: 1%;
    box-shadow: 20px 15px 15px black;
    text-align: center;
    background-color: rgb(253, 232, 206);
    
}

.form p {
    font-size: 2.5em; /* Aumentar el tamaño del texto */
    
}

.form button {
    font-size: 4em; /* Aumentar el tamaño de los inputs y botones */
    width: 700px;
    color: brown;
    background-color: rgb(251, 243, 102);
    box-shadow: 10px 5px 5px black;
    border-color: rgb(100, 18, 240);
    border-width: 10px;
}

.form input[type="text"] {
    
    background-color: rgb(255, 255, 255);
    color: brown;
    font-size: 3.5em; /* Aumentar el tamaño de los inputs y botones */
    width: 50%;
    box-shadow: 10px 5px 5px black;
    border-color: red;
    border-width: 10px;
    
}

.seleccionar {
    font-size: 12em;
}



